<!DOCTYPE html>
<html layout:decorate="~{layout/layout.html}">

<head>
    <title>비밀번호 변경</title>
</head>

<body>
<main layout:fragment="main">
    <section class="section section-modify flex-grow flex flex-col items-center justify-center">

        <div class="max-w-md w-full px-2 pt-4">
            <h1 class="font-bold text-lg">비밀번호 변경</h1>

            <script>
                let ModifyForm__submitDone = false;

                function ModifyForm__submit(form) {
                    if (ModifyForm__submitDone) {
                        return;
                    }

                    form.oldPassword.value = form.oldPassword.value.trim();

                    if (form.oldPassword.value.length == 0) {
                        warningModal("기존 비밀번호를 입력해주세요.");
                        form.password.focus();

                        return;
                    }

                    form.password.value = form.password.value.trim();

                    if (form.password.value.length == 0) {
                        warningModal("변경할 비밀번호를 입력해주세요.");
                        form.password.focus();

                        return;
                    }

                    form.passwordConfirm.value = form.passwordConfirm.value.trim();

                    if (form.passwordConfirm.value == 0) {
                        warningModal("비밀번호 확인을 입력해주세요.");
                        form.passwordConfirm.focus();

                        return;
                    }

                    if (form.passwordConfirm.value != form.password.value) {
                        warningModal("변경할 비밀번호가 일치하지 않습니다.");
                        form.password.focus();

                        return;
                    }

                    form.submit();
                    ModifyForm__submitDone = true;
                }

            </script>

            <form th:action method="POST" class="flex flex-col gap-3" onsubmit="ModifyForm__submit(this); return false;">

                <div class="form-control">
                    <label class="label">
                        <span class="label-text">기존 비밀번호</span>
                    </label>
                    <input type="password" name="oldPassword" placeholder="기존 비밀번호" class="input input-bordered" maxlength="50">
                </div>

                <div class="form-control">
                    <label class="label">
                        <span class="label-text">변경 비밀번호</span>
                    </label>
                    <input type="password" name="password" id="password" placeholder="기존 비밀번호" class="input input-bordered" maxlength="50">
                </div>

                <div class="form-control">
                    <label class="label">
                        <span class="label-text">비밀번호 확인</span><span class="text-sm right" id="message"></span>
                    </label>
                    <input type="password" name="passwordConfirm" id="passwordConfirm"
                           placeholder="비밀번호 확인" class="input input-bordered" maxlength="50">

                </div>

                <div class="grid grid-cols-2 mt-2 gap-2">
                    <input class="btn btn-primary" type="submit" value="수정">
                </div>

                <script>
                    var passwordValidate = false;
                    $('#password, #passwordConfirm').on('keyup', function () {
                        if ($('#password').val() == $('#passwordConfirm').val()) {
                            $('#message').html('비밀번호가 일치합니다.').css('color', 'green');
                            passwordValidate = true;
                        } else
                            $('#message').html('비밀번호가 일지하지 않습니다.').css('color', 'red');
                    });
                </script>

            </form>
        </div>
    </section>
</main>
</body>
</html>