<!DOCTYPE html>
<html layout:decorate="~{layout/layout.html}">

<head>
    <title>주문조회</title>
</head>

<body>
<main layout:fragment="main">
    <section class="section section-write container mx-auto">

        <div class="px-2 pt-4">
            <h1 class="font-bold text-lg">주문조회</h1>

            <ul>
                <li th:each="order : ${orders}" class="flex items-center">
                    <div>
                        주문번호 : [[${order.id}]]
                        <span th:text="${order.name}"></span>
                        주문상태 :
                        <span th:if="${order.isCanceled()}" th:text="주문취소"></span>
                        <span th:if="${order.payable}" th:text="주문진행"></span>
                        <span th:if="${order.isPaid()}" th:text="결제완료"></span>
                        <span th:if="${order.isRefunded()}" th:text="환불"></span>
                        주문날짜 : [[${#temporals.format(order.createDate, 'yy-MM-dd HH:mm')}]]
                        주문가격 : [[${order.calculatePayPrice}]]
                        <a class="btn btn-sm btn-primary" th:href="@{|/order/${order.id}|}">상세보기</a>
                    </div>
                </li>
            </ul>

        </div>

        </div>
    </section>

</main>
</body>
</html>